.check-size {
	float: left;
	width: 0%;
}


.bg-image {
	background: url(../images/bg-concert.jpg) no-repeat center center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
	color: white;
	overflow-x: hidden;
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	height: 100%;
	position: absolute;
}

.header-outer {
	width: 100%;
}

.header-wrap {
	max-width: 70%;
	margin: 5% auto 0 auto;
}

#form {
	display: none;
	padding-top: 15px;
}

#pitbull-cut {
	width: 85%;
	opacity: 1;
	float:left;
}

.pitbull-wrapper {
	position: fixed;
	bottom: 0px;
	right: 0px;
}

.mic-wrapper {
	position: fixed;
	right: 28%;
	bottom: -10%;
}

#eventTrigger {
	cursor: pointer;
}

.mic-wrapper img {
	width: 78%;
}

#form .input-group {
	margin: 2% auto;
}

#form-wrapper {
	z-index: 999;
	margin-left: 3%;
}

#sirius-logo {
	margin-top: 25%;
}

@media screen and (min-device-width: 320px) and (max-device-width: 1024px) {

	.pitbull-wrapper {
		width:48%;
	}

	#pitbull-cut {
		width: 220%;
		margin-right: -115%;
		float: right;
	}

	.mic-wrapper {
		bottom: 0;
	}

	body {
		background-size: cover;
		background-attachment: scroll;
	}

	.check-size {
		float: right;
	}

	.custom-file-input::before {
		margin-left: 16%!important;
	}

	#form-wrapper {
		z-index: initial;
	}

	#sirius-logo {
		margin-top: initial;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

	.check-size {
		float: left;
	}

	#pitbull-cut {
		width: 80%;
		margin-right: -10%;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 736px) and (orientation : landscape) {
	
	#sirius-logo {
		width: 30%;
		margin: 0 auto;
	}

	#pitbull-cut {
		margin-right: 0;
		width: 60%!important;
	}

	.bg-image {
		width: initial;
		height: initial;
	}
	
	.mic-wrapper img {
		width: 30%!important;
	}

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 

	#pitbull-cut {
		width: 160%;
		margin-right: -60%;
	}

	#sirius-logo {
		margin-top: initial;
	}

}

@media screen and (max-height: 1020px) and (min-width: 1400px) { 

	.mic-wrapper img {
		width: 60%;
	}

	.mic-wrapper {
		right: 25%;
	}

	#pitbull-cut {
		width: 73%;
	}

}

@media screen and (min-width : 736px) and (max-width : 1366px) { 

	.mic-wrapper img {
		width: 80%;
	}

}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
   .mic-wrapper {
   	bottom: -200px;
   }

   #pitbull-cut {
   	width: 80%;
   }
}

/*THANK YOU PAGE*/

.pd {
	padding-top: 5%;
}

.pitbull-wrapper-left img {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 25%;
}

.thanks-options {
	position: fixed;
	left: 10%;
	bottom: 20%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 736px) and (orientation : portrait) {

	.thanks-header {
		max-width: 100%!important;
	}

	.thanks-options {
		left: 0;
		bottom: 0;
		width: 45%;
	}

	.pitbull-wrapper-left img {
		left: initial!important;
		right: 0!important;
		width: 55%!important;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

	.pitbull-wrapper-left img {
		width: 50%!important;
		right: 0;
		left: initial;
	}

	.thanks-options {
		position: initial;
		left: initial;
		bottom: initial;
	}

	.thanks-options > .col-sm-2 {
		width: 28%!important;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 736px) and (orientation : landscape) {

	.thanks-options {
		right: 0;
		left: initial;
		width: 80%;	
	}

	.thanks-options > .col-sm-2 {
		display: table-cell;
		width: 20%;
	}
}


#ios-note {
	display: none;
}