
body {
	background: url(../images/bg-concert.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
	color: white;
	overflow-x: hidden;
	width: 100%;
}

.header-outer {
	width: 100%;
}

.header-wrap {
	max-width: 70%;
	margin: 5% auto 0 auto;
}

#form {
	display: none;
	padding-top: 15px;
}

#pitbull-cut {
	width: 80%;
	opacity: 1;
}

.pitbull-wrapper {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.mic-wrapper {
	position: absolute;
	bottom: 0;
	right: 30%;
}

.mic-wrapper img {
	width: 90%;
}

#form .input-group {
	margin: 2% auto;
}

@media screen and (min-device-width: 320px) and (max-device-width: 1024px) {

	.pitbull-wrapper {
		width:48%;
	}

	#pitbull-cut {
		width: 220%;
		margin-right: -115%;
		float: right;
	}

}